NET "a" LOC = P41 | IOSTANDARD = LVTTL;
NET "b" LOC = P35 | IOSTANDARD = LVTTL;
NET "cin" LOC = P51 | IOSTANDARD = LVTTL;
NET "cout" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;
NET "s" LOC = P27 | IOSTANDARD = LVTTL | PULLDOWN;
